extends layout

block content
    h1 Git graphs
    .row
        .large-12.columns
            form
                .row
                    label.large-6.columns
                        i.fa.fa-spinner.fa-spin#repositoriesLoader
                        |   Repository
                        select#repositories
                    label.large-6.columns
                        i.fa.fa-spinner.fa-spin#authorEmailLoader
                        |   Author
                        select#authorEmail
    div
        button#reloadButton.button(name='reloadButton', type='button')
            i.fa.fa-refresh(aria-hidden='true')
            |  Reload
    div#graph-placeholder
