extends layout

block content
    h1 Settings
    .row
        .large-12.columns
            h3 Repos
            a.button#new-repo New
            table#repos-table
                thead
                    tr
                        th(width='200') Id
                        th(width='200') Name
                        th(width='500') Path
                        th(width='200') Actions
                tbody
                    tr
                        td Ibood
                        td
                            .columns
                                label.error
                                    | Error
                                    input.error(type='text')
                                small.error Invalid entry
                        td This is longer content Donec id elit non mi porta gravida at eget metus.
